.list{
    margin-top: 10px;
    width: 100%;
    min-height: 200px;
    max-height: calc(100% - 162px);
    max-width: 1000px;
    overflow-y: auto;
    border-radius: 30px;
}

.listWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: visible;

}

.message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: var(--font-size-xxxl);
    color: var(--orange-color);
}

.list::-webkit-scrollbar {
    width: 0.2em;
}

.list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 transparent;
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--main-text-color);
  outline: none;
  border-radius: 5px;
}