.footer{
    
}

.footerContainer{
    justify-content: space-around;
}

.links{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.separator{
    border: 2px solid var(--gray-color);
    height: 2px;
}