@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
	height: 100vh;
	max-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--black-color);
	color: var(--main-text-color);
	height: 100vh;
	max-height: 100vh;
}

#root{
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-height: 100vh;
}

a, button, span {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	color: var(--main-text-color);
}

input{
	font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main{
	height: calc(100vh - 114px);
}

.container{
    max-width: var(--large-desktop);
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 5px;
}