.modalForm{
	width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
}

.submitBtn{
    color: var(--additional-text-color);
}

.submitBtn:hover{
    color: var(--main-text-color);
}